p, body, #maintext, #about_me {
  padding: 15px;
  background-color: #F9F9F9;
}

body {
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 300px;
    height: 1000px;
}

h1 {
    padding: 6px 6px 6px 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    color: #000000;
    font-size:23px;
    letter-spacing: .1px;
    opacity:1;
}

img {
    display: inline-block;
}

#mainbar {
    display: flex;
    position:absolute;
    overflow:hidden;
    align-items: center;
    height:100vh;
    margin-left:50 px;
    width: 30%;
    right: 0%;
    top: 0%;
    background: rgba(158, 158, 158, .7);
    color: #0000000;
    text-decoration: none;
    text-align: left;
    font-size:21px;
    transition: width 1s ease;
}

#maintext {
    visibility:visible;
    background: rgba(158, 158, 158, 0);
    position:absolute;
    transition: opacity .5s ease;
}

#about_me{
    visibility: hidden;
    background: rgba(158, 158, 158, 0);
    opacity:0;
    position:absolute;
    -webkit-transition: opacity 4s ease;
    -moz-transition: opacity 4s ease;
    -o-transition: opacity 4s ease;
    transition: opacity 4s ease;
}

.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    background: rgba(158, 158, 158, .7);
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    cursor:pointer;
}
</style>
