body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #b3b3b3;
  background: #fff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: #74b9ff;
}

a:hover {
  text-decoration: none;
  color: #0984e3;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Playfair Display", times, serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

main, aside {
  width: 100%;
}

@media (min-width: 576px) {
  main, aside {
    width: 50%;
  }
}

aside {
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

@media (min-width: 576px) {
  aside {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
}

main {
  float: left;
  padding: 7%;
  position: relative;
  padding-bottom: 50px;
}
